header {
    display: flex;
    align-content: space-around;
}
header nav {
    margin-left: 25px;
    align-self: center;
}

header nav ul li{
    display: block;
    text-align: left;
    padding-top: 12px;
    padding-bottom: 12px;
}

.titreFlexg {
    margin: auto 79px auto;
}

.titreFlexg > h3{
    color: white;
}

.imgROnd > img {
    border-radius: 50%;
    border: 10px solid;
    border-color: var(--fond-deco);
}

.imgHausse {
    transform: translateY(-20%);
}
